@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("ImagesandIcons/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 95%;
  margin: auto;
}

.logo-container{
  width: 3%;
  margin: 7vh 3vw 0;
}

.logo{
  width: 100%;
}

.line{
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  width: 65%;
  margin: -6.7vh 0 0 -33vw;
}

.nav-bar{
  background-color: rgba(255,255,255, 0.1);
  backdrop-filter: blur(1rem);
  width: 55%;
  margin: -10vh 0 0 45vw;
  height: 13vh;
}

.nav-bar .nav-list{
  list-style: none;
  display: flex;
  padding: 0 0 0 7vw;
}

.nav-bar .nav-list li{
  margin: 4.7vh 0 0 3vw;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  height: 8vh;
  transition: all 150ms;
  word-spacing: 0.5rem;
}

.nav-bar .nav-list li a{
  color: rgb(255,255,255);
  text-decoration: none;
}

.nav-bar .nav-list li span{
  padding: 0 1vw 0 0.7vw;
  letter-spacing: 0.1rem;
}

.nav-bar .nav-list li:hover{
  border-bottom: 3px solid rgba(255,255,255, 0.5);
}

.toggle-container{
  width: 3%;
  margin: -8vh 0 0 50vw;
  display: none;
}

.toggle-btn{
  width: 100%;
}

.close-container{
  width: 3%;
  margin: -4vh 0 0 50vw;
  display: none;
}

.close-btn{
  width: 100%;
}

.destination-main{
  margin: 5vh auto 0;
}

.intro-text{
  color: rgba(255,255,255, 0.5);
  font-size: 1.4rem;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0.1rem; 
  margin: 0 9.5vw 5vh;
}

.intro-text span{
  padding: 0 1vw;
  color: rgb(255,255,255);
}

.destination-flex{
  display: flex;
}

.planet-box{
  width: 30%;
  margin: 6vh 10vw 0;
}

.the-moon{
  width: 100%;
  display: none
  /* transform: translateX(-120%);
  transition: transform 550ms ease-out; */
}

/* .the-moon:hover{
  transform: translateX(0%);
} */

.mars{
  width: 100%;
  display: none;
}

.europa{
  width: 100%;
  /* display: none; */
}

.titan{
  width: 100%;
  display: none;
}

.planet-info{
  margin: 0 5vw;
  width: 27%;
}

.planet-list{
  height: 10vh;
}

.planet-list ul{
  display: flex;
  list-style: none;
}

.planet-list ul li{
  margin: 2vh 0.8vw;
  padding: 1vh 0;
  font-size: 0.9rem;
  color: rgb(208, 214, 249);
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.planet-list ul li:hover{
  cursor: pointer;
  border-bottom: 3px solid rgba(255,255,255, 0.5);
}

.moon-writeup{
  display: none;
}

.moon-writeup h1{
  color: rgb(255,255,255);
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  margin: 2vh 0 0;
}

.moon-writeup p{
  color: rgb(208, 214, 249);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  width: 98%;
  word-spacing: 0.2rem;
  line-height: 140%;
  margin: 2vh 0 0;
}

.mars-writeup{
  display: none;
}

.mars-writeup h1{
  color: rgb(255,255,255);
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  margin: 2vh 0 0;
}

.mars-writeup p{
  color: rgb(208, 214, 249);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  width: 100%;
  word-spacing: 0.2rem;
  line-height: 140%;
  margin: 2vh 0 0;
}

.europa-writeup{
  /* display: none; */
}

.europa-writeup h1{
  color: rgb(255,255,255);
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  margin: 2vh 0 0;
}

.europa-writeup p{
  color: rgb(208, 214, 249);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  width: 100%;
  word-spacing: 0.2rem;
  line-height: 140%;
  margin: 2vh 0 0;
}

.planet-info_divider{
  border-bottom: 1px solid rgb(56, 59, 75);
  margin: 5vh 0 0;
}

.est-block{
  display: flex;
}

.distance-est{
  width: 40%;
}

.distance-est .p1{
  margin: 2vh 0 1vh;
  font-size: 0.8rem;
  color: rgb(208, 214, 249);
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 0;
}

.distance-est .p2{
  margin: 0;
  font-size: 1.2rem;
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Bellefair', serif;
  word-spacing: 0;
}

.days-est{
  width: 40%;
  margin: 0 4vw;
}

.days-est .p1{
  margin: 2vh 0 1vh;
  font-size: 0.8rem;
  color: rgb(208, 214, 249);
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 0;
}


.days-est .p2{
  margin: 0;
  font-size: 1.2rem;
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Bellefair', serif;
  word-spacing: 0;
}