@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("ImagesandIcons/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 95%;
  margin: auto;
  border: 1px solid gray;
}

.logo-container{
  width: 3%;
  margin: 7vh 3vw 0;
}

.logo{
  width: 100%;
}

.line{
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  width: 65%;
  margin: -6.7vh 0 0 -33vw;
}

.nav-bar{
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
  width: 55%;
  margin: -10vh 0 0 45vw;
  height: 13vh;
}

.nav-bar .nav-list{
  list-style: none;
  display: flex;
  padding: 0 0 0 7vw;
}

.nav-bar .nav-list li{
  margin: 4.7vh 0 0 2vw;
  padding: 0 0 0 1vw;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  height: 8vh;
}

.nav-bar .nav-list li a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.nav-bar .nav-list li span{
  padding: 0 1vw 0 0.7vw;
}

.nav-bar .nav-list li:hover{
  border-bottom: 3px solid white;
}

.toggle-container{
  width: 3%;
  margin: -8vh 0 0 50vw;
  display: none;
}

.toggle-btn{
  width: 100%;
}

.close-container{
  width: 3%;
  margin: -4vh 0 0 50vw;
  display: none;
}

.close-btn{
  width: 100%;
}

.home-main{
  margin: 18vh 0 0 0;
}

.home-flex{
  display: flex;
}

.home-writeup{
  min-width: 40%;
  color: hsl(0, 0%, 100%);
  margin: 0 2vw 0 10vw;
}

.home-writeup h4{
  font-size: 1.1rem;
  font-weight: 100;
  margin: 4vh 0 1vh;
  font-family: 'Bellefair', serif;
}

.home-writeup h1{
  font-size: 7rem;
  font-weight: 100;
  margin: 0 0 4vh 0;
  font-family: 'Bellefair', serif;
}

.home-writeup p{
  font-size: 1rem;
  font-weight: 100;
  font-family: 'Barlow Condensed', sans-serif;
  width: 62%;
  line-height: 170%;
}

.explore-btn{
  min-width: 50%;
}

.outer-circle{
  display: none;
  /* background-color: hsla(0, 0%, 100%, 0.2); */
  height: 350px;
  width: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh auto 0;
  border: 50px solid hsla(0, 0%, 100%, 0.2);
}

.inner-circle{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}